# Ogólne
Wykorzystanie funkcji z biblioteki do przedstawienia ogólnych statystyk

In [1]:
# By zaimportować moduły z głównego folderu
%cd ..

/Users/nerooc/Documents/Studia/device-downtime-detection

In [2]:
import import_ipynb
import numpy as np
from data_preprocessing import split_working_faulty_blocks

importing Jupyter notebook from data_preprocessing.ipynb

### Bloki działające

In [3]:
working_blocks_df, faulty_blocks_df = split_working_faulty_blocks()

working_blocks_df.describe()

,0,1,2,3,4,5,6,7,8
count,1643.000000,1643.000000,1643.000000,1643.000000,1643.000000,1643.000000,1643.000000,1643.000000,1643.000000
mean,30.412538,16.251978,21.732136,27.356056,308.764455,6.004504,57.479002,36.323798,16.064455
std,0.778284,2.482789,0.482308,4.134368,231.419114,0.562396,11.119428,1.721049,1.205308
min,27.200000,13.000000,20.900000,22.000000,60.000000,5.200000,30.800000,31.400000,14.600000
25%,29.900000,14.000000,21.400000,23.000000,120.000000,5.600000,47.300000,34.900000,15.300000
50%,30.400000,16.000000,21.500000,27.000000,180.000000,5.900000,59.700000,35.900000,15.900000
75%,30.900000,18.000000,22.200000,29.000000,600.000000,6.200000,68.400000,37.900000,16.600000
max,32.600000,24.000000,22.900000,38.000000,660.000000,9.000000,72.800000,40.200000,22.600000

### Bloki awaryjne

In [4]:
faulty_blocks_df.describe()

,0,1,2,3,4,5,6,7,8
count,1674.000000,1674.000000,1674.000000,1674.000000,1674.000000,1674.000000,1674.000000,1674.000000,1674.000000
mean,31.103405,18.659498,21.439367,32.762246,322.831541,5.839606,59.551792,38.608602,16.287157
std,1.214770,2.801451,0.742500,4.837056,237.406512,0.420602,11.291858,2.304267,0.908331
min,27.200000,13.000000,19.100000,23.000000,60.000000,4.800000,30.600000,31.300000,13.800000
25%,30.400000,17.000000,21.100000,29.000000,120.000000,5.600000,48.800000,36.900000,15.700000
50%,31.200000,19.000000,21.400000,33.000000,240.000000,5.800000,61.400000,38.600000,16.200000
75%,31.900000,20.000000,22.000000,36.000000,600.000000,6.100000,70.400000,40.400000,16.800000
max,34.800000,25.000000,22.900000,42.000000,660.000000,8.600000,77.400000,43.900000,22.600000